<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC07769D1BC3E5010017A6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC0776B61BC3E5020017A6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC0776C11BC3E5020017A6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
